@import "fonts";
@import "mixins";



//------------shared styles -------------------

.body {
  font-family: Lato, sans-serif;
  color: #2d3950;
  background-color: #f6f9f9;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px dotted; //TEST
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

section {
  border: 1px dotted blue;  // TEMP !
}

//------------------- mixins ------------------






//-------------------- header ---------------------

.header {
  height: 99px; // TEMP!
  background-color: #f6f9f9;

}

// ---------------------- main ----------------------
// ----------------------- intro --------------------

.intro {
  height: 800px; // TEMP!
  background: url("../img/bg-intro.png") center no-repeat;
  background-size: cover;

  h2 {
    color: white;
    font-family: Lato;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;

  }
  p {
    color: white;
    font-family: Lato;
    font-size: 20px;
    text-align: center;

  }
  .intro-button {
    width: 178px;
    border: 1px solid #15a4fa;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-family: Lato;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  .intro-scroll-link {
    font-size: 30px;

    color: white;
    margin: 0 auto;
    text-align: center;
    display: block;

  }

}

//---------------- content --------------
.content {
  height: 340px; // TEMP!
  background-color: #f6f9f9;

  h2 {
    color: #2d3950;
    font-family: Lato;
    font-size: 40px;
    text-align: center;
  }
  p {
    color: #999;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
  }

}

// -------------------- icons -------------

.icons {
  height: 340px; // TEMP!
  background-color: white;
  .icons-list {
    list-style: none;
    li {
      display: inline-block;
      width: 316px;
      text-align: center;
      margin: 0 24px;

      .fa-paper-plane,
      .fa-mobile,
      .fa-bullhorn {
        width: 100px;
        height: 100px;
        border-radius: 2px;
        @include icon-gradient;
        line-height: 100px;
        color: white;
        font-size: 40px;


      }
      h3 {
        color: #2d3950;
        font-family: Lato;
        font-size: 22px;
      }
      p {
        color: #999;
        font-family: Lato;
        font-size: 15px;
    }



    }
  }

}

// -----------------thumbnails ---------

.thumbnails {
  text-align: center;
  h2 {
    color: #2d3950;
    font-family: Lato;
    font-size: 41px;
  }
  p {
    color: #909090;
    font-family: Lato;
    font-size: 15px;
  }
}

.thumbnails-list {
  list-style: none;
  padding: 0;

  &>li {
    display: inline-block;
    overflow: hidden;
    //padding: 10px;
    position: relative;
    margin: 5px;
    width: 360px; // for hover
    height: 260px; // for hover


  }
  & li:hover .hover {
    opacity: 1;
    @include transition(0.6s)
  }
}
.hover {

  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(21, 164, 250, 0.8);
  //transition
  opacity: 0;
  @include transition(0.6s);

  .hover-icons {
    list-style: none;
    padding: 0;
    margin-top: 100px;


    li {
      display: inline-block;

      a {
        width: 42px;
        height: 42px;
        display: block;
        color: white;
        text-decoration: none;
        line-height: 43px;
        font-size: 16px;
        border: 1px solid white;
        border-radius: 2px;
      }
    }

  }
}




