@import "fonts";
@import "mixins";
@import "variables";

// todo сразу - давай, что бы файлы сасса и те, что он компилирует были в разных папках

/*------------shared styles -------------------*/
// подобные комменты лучше делать, что бы они компилировались тоже   FIXED
.body {
  font-family: $Lato;
  color: $black;
}

.wrapper {
  width: 1170px; //  вроде был 1170 размер  FIXED  да, косяк был...
  margin: 0 auto;
  overflow: hidden;
}

/*-------------------- header ---------------------*/

.header {
  background-color: $bg-gray;

  h1 {
    margin: 27px 35px;
  }
}

/*---------------------- main ----------------------*/
/* ----------------------- intro --------------------*/

.hero {
  background: url("../img/bg-intro.png") center /cover no-repeat;
  background-size: cover;// todo это можно запихнуть в сокращенную запись

  h2 {
    width: 600px;
    margin: 200px auto 35px;
    padding-bottom: 5px;
    border-bottom: 2px solid $blue;
    font-family: $Lato; //  todo и тут можно юзать сокращенную запись
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    color: $white;

  }

  p {
    padding-bottom: 42px;
    font-family: $Lato;
    font-size: 20px;
    text-align: center;
    color: $white;
  }

  .hero-button {
    width: 178px;
    margin: 0 auto 165px;
    padding: 17px 0;
    border: 1px solid $blue;
    border-radius: 2px;
    text-decoration: none;
    font-family: $Lato;
    font-size: 18px;
    text-align: center;
    display: block;
    color: $white;
    @include transition(0.2s);

    &:hover {
      background-color: $blue;
      @include transition(0.2s);
    }
  }

  .hero-scroll-link {
    display: block;
    margin: 0 auto 72px;
    font-size: 36px;
    color: $white;
    text-align: center;
  }
}

/*---------------- content --------------*/
.intro {
  background-color: $bg-gray;

  h2 {
    margin-top: 76px;
    margin-bottom: 16px;
    font-family: $Lato;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: $black;
  }

  p {
    width: 1130px;
    margin-top: 0;
    margin-bottom: 105px;
    font-family: $Lato;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    color: $gray;
  }
}

/* -------------------- icons -------------*/

.icons {
  background-color: $white;

  .icons-list {
    margin-top: 65px;
    margin-bottom: 52px;
    padding: 0;
    list-style: none;
    text-align: center;


    li {
      display: inline-block;
      width: 300px;
      margin: 0 38px;
      text-align: center;


      &:nth-child(n+2) {
        margin-left: 48px;
      }

      .icon-wrapper {
        width: 100px;
        height: 100px;
        margin: auto;
        border-radius: 2px;
        @include icon-gradient;

      }

      .fa {         // а мог бы просто на .fa повешать эти все стиля   FIXED
        line-height: 100px;
        font-size: 40px;
        text-shadow: 1px 1px 1px #4468a9;
        color: $white;

      }

      .fa-mobile {
        font-size: 70px;
      }

      h3 {
        margin: 24px auto;
        font-family: $Lato;
        font-size: 22px;
        font-weight: normal;
        color: $black;
      }

      p {
        font-family: $Lato;
        font-size: 15px;
        color: $gray;
    }
    }
  }
}

/*-----------------thumbnails ---------*/

.portfolio {
  background-color: $bg-gray;
  text-align: center;

  h2 {
    margin-top: 70px;
    margin-bottom: 15px;
    font-family: $Lato;
    font-size: 41px;
    font-weight: normal;
    color: $black;
  }

  p {
    margin-bottom: 70px;
    font-family: $Lato;
    font-size: 15px;
    color: #909090;
  }
}

.portfolio-list {
  margin-bottom: 100px;
  padding: 0;
  list-style: none;

  >li { // сегодня говорили на уроке, в этой записи смысла нету   FIXED
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 360px; // for hover
    height: 260px; // for hover
    margin: 13px;
  }

  li:hover .hover { // аналогично и тут   FIXED
    opacity: 1;
    @include transition(0.6s)
  }
}

.hover {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(21, 164, 250, 0.8);
  opacity: 0;  //hover hide
  @include transition(0.6s);

  .hover-icons {
    margin-top: 100px;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      overflow: hidden;


      :hover {
        font-size: 24px;
        @include transition(0.3s);

      }

      a {
        width: 42px;
        height: 42px;
        display: block;
        border: 1px solid white;
        border-radius: 2px;
        text-decoration: none;
        line-height: 43px;
        font-size: 16px;
        color: $white;
        @include transition(0.3s);


      }
    }
  }
}

/*--------------- feedback -----------------*/
.feedback {
  text-align: center;
  background:  linear-gradient(rgba(45, 57, 80, 0.9), rgba(45, 57, 80, 0.9)), url("../img/bg-feedback.png");
  background-size: cover;

  .wrapper { // todo лучше сделать другой блок внутри враппера и на него уже вешать эти стиля, враппер он просто враппер и менять его размер не рекомендуется
    width: 560px;
  }

  h2 {
    margin-top: 62px;
    margin-bottom: 20px;
    font-family: $Lato;
    font-size: 41px;
    font-weight: normal;
    color: $white;
  }

  p {
    margin-bottom: 50px;
    font-family: $Lato;
    font-size: 15px;
    color: $gray;
  }
}

#feedback-form {
  width: inherit;

  input[type="text"],
  input[type="email"] {
    width: 535px;
    height: 62px;
    margin-bottom: 16px;
    padding-left: 21px;
    border: 1px solid $gray;
    border-radius: 2px;
    font-family: Lato, sans-serif;
    font-size: 15px;
    background-color: transparent;
    outline: none;
    color: $gray;
  }

  textarea {
    width: 534px;
    height: 137px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-top: 23px;
    border: 1px solid $gray;
    border-radius: 2px;
    resize: none;
    outline: none;
    color: $gray; // todo у тебя повторяются стиля на инпутах и тут, можно было это просто вынести как-то
    font-family: Lato, sans-serif;
    font-size: 15px;
    background-color: transparent;
  }

  input[type="checkbox"] {
    display: none;

    &:checked + label:before {
      content: "\2713";
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
      font-size: 15px;
      text-align: center;
      line-height: 15px;
      color: #f3f3f3;
    }
  }

  label {
    float: left;
    position: relative;
    display: inline-block;
    margin-top: 15px;
    padding-left: 25px;
    font-family: $Lato;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
    color: $white;

    &:before {
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      bottom: 1px;
      display: inline-block;
      content: "";
      margin-right: 10px;
      background-color: #aaa;
      border-radius: 3px;
    }
  }

  input[type="submit"] {
    float: right;
    width: 142px;
    height: 47px;
    margin-bottom: 110px;
    border: 1px solid $blue;
    border-radius: 2px;
    font-family: $Lato;
    font-size: 18px;
    background-color: transparent;
    color: $white;
    @include transition(0.2s);

    &:hover {
      background-color: $blue;
      @include transition(0.2s);
    }
  }
}

/*---------------footer ---------------*/

.footer {
  background-color: $bg-gray;

  span {
    float: left;
    margin-top: 37px;
    margin-left: 20px;
    font-family: $Lato;
    font-size: 15px;
    color: $gray;
  }
}

.footer-icons {
  float: right;
  margin: 24px 20px 24px 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    overflow: hidden;

    a {
      display: block;
      width: 40px;
      height: 40px;
      background-color: $blue;
      border-radius: 2px;
      text-decoration: none;
      font-size: 17px;
      text-align: center;
      line-height: 40px;
      color: $white;
      @include transition(0.3s);

      &:hover {
        font-size: 25px;
        @include transition(0.3s);
      }
    }
  }
}








