@import "fonts";
@import "mixins";
@import "variables";



//------------shared styles -------------------

.body {
  font-family: $Lato;
  color: #2d3950;
  background-color: #f6f9f9;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px dotted; //TEST
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

section {
  border: 1px dotted blue;  // TEMP !
}


//-------------------- header ---------------------

.header {
  height: 99px; // TEMP!
  background-color: $bg-gray;
  h1 {
    margin: 27px 50px;
  }

}

// ---------------------- main ----------------------
// ----------------------- intro --------------------

.intro {
  height: 800px; // TEMP!
  background: url("../img/bg-intro.png") center no-repeat;
  background-size: cover;

  h2 {
    color: white;
    font-family: $Lato;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    border-bottom: 2px solid #15a4fa;
    width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    padding-bottom: 5px;
    margin-bottom: 35px;

  }
  p {
    color: white;
    font-family: $Lato;
    font-size: 20px;
    text-align: center;
    padding-bottom: 42px;

  }
  .intro-button {
    width: 178px;
    border: 1px solid #15a4fa;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-family: $Lato;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 17px 0;
    margin-bottom: 165px;
  }
  .intro-scroll-link {
    font-size: 36px;
    color: white;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 72px;

  }

}

//---------------- content --------------
.content {
  height: 340px; // TEMP!
  background-color: $bg-gray;

  h2 {
    color: #2d3950;
    font-family: $Lato;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin-top: 76px;
    margin-bottom: 16px;
  }
  p {
    width: 1130px;
    color: #999;
    font-family: $Lato;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 105px;
    line-height: 32px;
  }

}

// -------------------- icons -------------

.icons {
  height: 340px; // TEMP!
  background-color: $bg-white;
  .icons-list {
    list-style: none;
    margin-top: 65px;
    margin-bottom: 52px;

    li {
      display: inline-block;
      width: 316px;
      text-align: center;
      margin: 0 24px;

      &:nth-child(n+2) {
        margin-left: 48px;
      }

      .fa-paper-plane,
      .fa-mobile,
      .fa-bullhorn {
        width: 100px;
        height: 100px;
        border-radius: 2px;
        @include icon-gradient;
        line-height: 100px;
        color: white;
        font-size: 40px;
        text-shadow: 1px 1px 1px #4468a9;
      }

      .fa-mobile {
        font-size: 70px;
      }

      h3 {
        color: #2d3950;
        font-family: $Lato;
        font-size: 22px;
        font-weight: normal;
        margin: 24px auto;
      }

      p {
        color: #999;
        font-family: $Lato;
        font-size: 15px;
    }



    }
  }

}

// -----------------thumbnails ---------

.thumbnails {
  height: 900px; //TEMP!
  background-color: $bg-gray;
  text-align: center;
  h2 {
    color: #2d3950;
    font-family: $Lato;
    font-size: 41px;
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 15px;
  }
  p {
    color: #909090;
    font-family: $Lato;
    font-size: 15px;
    margin-bottom: 70px;
  }
}

.thumbnails-list {
  list-style: none;
  padding: 0;
  margin-bottom: 100px;

  &>li {
    display: inline-block;
    overflow: hidden;
    //padding: 10px;
    position: relative;

    width: 360px; // for hover
    height: 260px; // for hover
    margin: 13px;


  }
  & li:hover .hover {
    opacity: 1;
    @include transition(0.6s)
  }
}
.hover {

  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(21, 164, 250, 0.8);
  //transition
  opacity: 0;
  @include transition(0.6s);

  .hover-icons {
    list-style: none;
    padding: 0;
    margin-top: 100px;


    li {
      display: inline-block;

      a {
        width: 42px;
        height: 42px;
        display: block;
        color: white;
        text-decoration: none;
        line-height: 43px;
        font-size: 16px;
        border: 1px solid white;
        border-radius: 2px;
      }
    }

  }
}

// --------------- feedback -----------------
.feedback {
  height: 700px; //TEMP!
  text-align: center;
  background:  linear-gradient(rgba(45, 57, 80, 0.9), rgba(45, 57, 80, 0.9)), url("../img/bg-feedback.png");

  .wrapper {
    width: 560px;
  }
  h2 {
    color: white;
    font-family: $Lato;
    font-size: 41px;
    font-weight: normal;
    margin-top: 62px;
    margin-bottom: 20px;
  }
  p {
    color: #999;
    font-family: $Lato;
    font-size: 15px;
    margin-bottom: 50px;
  }
}
#feedback-form {
  width: inherit;

  input[name] {
    width: 535px;
    height: 62px;
    border: 1px solid #999;
    border-radius: 2px;
    color: #999;
    font-family: Lato, sans-serif;
    font-size: 15px;
    background-color: transparent;
    outline: none;
    margin-bottom: 16px;
    padding-left: 21px;

  }
  textarea {
    width: 534px;
    height: 137px;
    border: 1px solid #999;
    border-radius: 2px;
    resize: none;
    outline: none;
    color: #999;
    font-family: Lato, sans-serif;
    font-size: 15px;
    background-color: transparent;
    padding-left: 20px;
    padding-top: 23px;
    margin-bottom: 15px;
  }
  label {
    float: left;
    color: white;
    font-family: $Lato;
    font-size: 15px;
    text-align: left;
    input {
      background-color: #909090;
      width: 17px;
      height: 17px;
    }

  }

  input[value] {
    float: right;
    color: white;
    font-family: $Lato;
    font-size: 18px;
    background-color: transparent;
    width: 142px;
    height: 47px;
    border: 1px solid #15a4fa;
    border-radius: 2px;


  }
}

// ---------------footer ---------------

.footer {
  height: 90px; //temp!
  background-color: $bg-gray;
  span {
    float: left;
    color: #999;
    font-family: $Lato;
    font-size: 15px;
  }
}

.footer-icons {
  float: right;
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    a {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #15a4fa;
      border-radius: 2px;
      text-decoration: none;
      color: white;
      font-size: 17px;
      text-align: center;
      line-height: 40px;
    };

  }
}








