@import "fonts";



//------------shared styles -------------------

.body {
  font-family: Lato, sans-serif;
  color: #2d3950;
  background-color: #f6f9f9;
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

//------------------- mixins ------------------

@mixin wrapper-mod($px) {

  width: ($px);
  margin: 0 auto;
  overflow: hidden;
  border: 1px dotted; //TEST


}