@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.body {
  font-family: Lato, sans-serif;
  color: #2d3950;
  background-color: #f6f9f9; }

.wrapper {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px dotted; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

section {
  border: 1px dotted blue; }

.header {
  height: 99px;
  background-color: #f6f9f9; }
  .header h1 {
    margin: 27px 50px; }

.intro {
  height: 800px;
  background: url("../img/bg-intro.png") center no-repeat;
  background-size: cover; }
  .intro h2 {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    border-bottom: 2px solid #15a4fa;
    width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    padding-bottom: 5px;
    margin-bottom: 35px; }
  .intro p {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 42px; }
  .intro .intro-button {
    width: 178px;
    border: 1px solid #15a4fa;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 17px 0;
    margin-bottom: 165px; }
  .intro .intro-scroll-link {
    font-size: 36px;
    color: white;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 72px; }

.content {
  height: 340px;
  background-color: #f6f9f9; }
  .content h2 {
    color: #2d3950;
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin-top: 76px;
    margin-bottom: 16px; }
  .content p {
    width: 1130px;
    color: #999;
    font-family: Lato, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 105px;
    line-height: 32px; }

.icons {
  height: 340px;
  background-color: white; }
  .icons .icons-list {
    list-style: none;
    margin-top: 65px;
    margin-bottom: 52px; }
    .icons .icons-list li {
      display: inline-block;
      width: 316px;
      text-align: center;
      margin: 0 24px; }
      .icons .icons-list li:nth-child(n+2) {
        margin-left: 48px; }
      .icons .icons-list li .fa-paper-plane,
      .icons .icons-list li .fa-mobile,
      .icons .icons-list li .fa-bullhorn {
        width: 100px;
        height: 100px;
        border-radius: 2px;
        background: #2ab0ed;
        /* Old browsers */
        background: -moz-linear-gradient(left, #2ab0ed 51%, #bfe8f9 51%, #48baff 51%, #5fc3ff 51%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #2ab0ed 51%, #bfe8f9 51%, #48baff 51%, #5fc3ff 51%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #2ab0ed 51%, #bfe8f9 51%, #48baff 51%, #5fc3ff 51%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab0ed', endColorstr='#5fc3ff',GradientType=1 );
        /* IE6-9 */
        line-height: 100px;
        color: white;
        font-size: 40px;
        text-shadow: 1px 1px 1px #4468a9; }
      .icons .icons-list li .fa-mobile {
        font-size: 70px; }
      .icons .icons-list li h3 {
        color: #2d3950;
        font-family: Lato, sans-serif;
        font-size: 22px;
        font-weight: normal;
        margin: 24px auto; }
      .icons .icons-list li p {
        color: #999;
        font-family: Lato, sans-serif;
        font-size: 15px; }

.thumbnails {
  height: 900px;
  background-color: #f6f9f9;
  text-align: center; }
  .thumbnails h2 {
    color: #2d3950;
    font-family: Lato, sans-serif;
    font-size: 41px;
    font-weight: normal;
    margin-top: 70px;
    margin-bottom: 15px; }
  .thumbnails p {
    color: #909090;
    font-family: Lato, sans-serif;
    font-size: 15px;
    margin-bottom: 70px; }

.thumbnails-list {
  list-style: none;
  padding: 0;
  margin-bottom: 100px; }
  .thumbnails-list > li {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 360px;
    height: 260px;
    margin: 13px; }
  .thumbnails-list li:hover .hover {
    opacity: 1;
    -webkit-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s; }

.hover {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(21, 164, 250, 0.8);
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s; }
  .hover .hover-icons {
    list-style: none;
    padding: 0;
    margin-top: 100px; }
    .hover .hover-icons li {
      display: inline-block; }
      .hover .hover-icons li a {
        width: 42px;
        height: 42px;
        display: block;
        color: white;
        text-decoration: none;
        line-height: 43px;
        font-size: 16px;
        border: 1px solid white;
        border-radius: 2px; }

.feedback {
  height: 700px;
  text-align: center;
  background: linear-gradient(rgba(45, 57, 80, 0.9), rgba(45, 57, 80, 0.9)), url("../img/bg-feedback.png"); }
  .feedback .wrapper {
    width: 560px; }
  .feedback h2 {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 41px;
    font-weight: normal;
    margin-top: 62px;
    margin-bottom: 20px; }
  .feedback p {
    color: #999;
    font-family: Lato, sans-serif;
    font-size: 15px;
    margin-bottom: 50px; }

#feedback-form {
  width: inherit; }
  #feedback-form input[name] {
    width: 535px;
    height: 62px;
    border: 1px solid #999;
    border-radius: 2px;
    color: #999;
    font-family: Lato, sans-serif;
    font-size: 15px;
    background-color: transparent;
    outline: none;
    margin-bottom: 16px;
    padding-left: 21px; }
  #feedback-form textarea {
    width: 534px;
    height: 137px;
    border: 1px solid #999;
    border-radius: 2px;
    resize: none;
    outline: none;
    color: #999;
    font-family: Lato, sans-serif;
    font-size: 15px;
    background-color: transparent;
    padding-left: 20px;
    padding-top: 23px;
    margin-bottom: 15px; }
  #feedback-form input[type="checkbox"] {
    display: none; }
    #feedback-form input[type="checkbox"]:checked + label:before {
      content: "\2713";
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      font-size: 15px;
      color: #f3f3f3;
      text-align: center;
      line-height: 15px; }
  #feedback-form label {
    float: left;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 15px;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px; }
    #feedback-form label:before {
      border-radius: 3px;
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      background-color: #aaa; }
  #feedback-form input[value] {
    float: right;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 18px;
    background-color: transparent;
    width: 142px;
    height: 47px;
    border: 1px solid #15a4fa;
    border-radius: 2px; }

.footer {
  height: 90px;
  background-color: #f6f9f9; }
  .footer span {
    float: left;
    color: #999;
    font-family: Lato, sans-serif;
    font-size: 15px; }

.footer-icons {
  float: right;
  list-style: none;
  padding: 0; }
  .footer-icons li {
    display: inline-block; }
    .footer-icons li a {
      display: block;
      width: 40px;
      height: 40px;
      background-color: #15a4fa;
      border-radius: 2px;
      text-decoration: none;
      color: white;
      font-size: 17px;
      text-align: center;
      line-height: 40px; }

/*# sourceMappingURL=style.css.map */
