@import "fonts";
@import "mixins";



//------------shared styles -------------------

.body {
  font-family: Lato, sans-serif;
  color: #2d3950;
  background-color: #f6f9f9;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px dotted; //TEST
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

section {
  border: 1px dotted blue;  // TEMP !
}

//------------------- mixins ------------------






//-------------------- header ---------------------

.header {
  height: 99px; // TEMP!
  background-color: #f6f9f9;

}

// ---------------------- main ----------------------
// ----------------------- intro --------------------

.intro {
  height: 800px; // TEMP!
  background: url("../img/bg-intro.png") center no-repeat;
  background-size: cover;

  h2 {
    color: white;
    font-family: Lato;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;

  }
  p {
    color: white;
    font-family: Lato;
    font-size: 20px;
    text-align: center;

  }
  .intro-button {
    width: 178px;
    border: 1px solid #15a4fa;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-family: Lato;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  .intro-scroll-link {
    font-size: 30px;

    color: white;
    margin: 0 auto;
    text-align: center;
    display: block;

  }

}

//---------------- content --------------
.content {
  height: 340px; // TEMP!
  background-color: #f6f9f9;

  h2 {
    color: #2d3950;
    font-family: Lato;
    font-size: 40px;
    text-align: center;
  }
  p {
    color: #999;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
  }

}

// -------------------- icons -------------

.icons {
  height: 340px; // TEMP!
  background-color: white;
  .icons-list {
    list-style: none;
    li {
      display: inline-block;
      width: 316px;
      text-align: center;
      margin: 0 24px;

      .fa-paper-plane,
      .fa-mobile,
      .fa-bullhorn {
        width: 100px;
        height: 100px;
        border-radius: 2px;
        @include icon-gradient;
        line-height: 100px;
        color: white;
        font-size: 40px;


      }
      h3 {
        color: #2d3950;
        font-family: Lato;
        font-size: 22px;
      }
      p {
        color: #999;
        font-family: Lato;
        font-size: 15px;
    }



    }
  }

}


