@mixin bg-image {
  background: url("../img/bg-image.png") center no-repeat;
  background-size: cover;

}

@mixin transition($s) {
  -webkit-transition-duration: $s;
  -o-transition-duration: $s;
  -moz-transition-duration: $s;
  transition-duration: $s;
}

@mixin button-white {
  width: 204px;
  padding: 12px 0;
  background-color: white;
  border-radius: 32px;
  color: #3695ff;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

@mixin text-gradient {
  content: "";

  background: rgb(54,149,255); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(54,149,255,1) 0%, rgba(104,140,253,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(54,149,255,1) 0%,rgba(104,140,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(54,149,255,1) 0%,rgba(104,140,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3695ff', endColorstr='#688cfd',GradientType=1 ); /* IE6-9 */


  position: absolute;
  display: block;
  width: 100%;
  height: 31px;
}