@mixin bg-image {
  background: url("../img/bg-image.png") center no-repeat;
  background-size: cover;

}

@mixin transition($s) {
  -webkit-transition-duration: $s;
  -o-transition-duration: $s;
  -moz-transition-duration: $s;
  transition-duration: $s;
}

@mixin button-white {
  width: 204px;
  padding: 12px 0;
  background-color: white;
  border-radius: 32px;
  color: #3695ff;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}